<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O nas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include "header.html" %}
    <main class="content">
        <div class="banner">
            <div class="banner__container container">
            <div class="banner__content">
                <div class="banner__column">
                    <div class="banner__logo">
                        <img src="photo_2025-10-06_11-27-52.png" alt="">
                    </div>
                    <h1 class="banner__title title">RamBad - informacje</h1>
                    <p>RamBad to otwarty fundusz inwestycyjny, który nieprzerwanie przyjmuje wpłaty od inwestorów i umożliwia im wypłatę środków w dowolnym momencie. Strategia inwestycyjna funduszu zakłada zrównoważony podział ryzyka poprzez lokowanie: 60% kapitału w akcje spółek z USA, 40% w obligacje skarbowe państw strefy euro. Celem RamBad jest osiąganie stabilnych zysków przy umiarkowanym poziomie ryzyka, dzięki połączeniu potencjału wzrostowego rynku amerykańskiego z bezpieczeństwem europejskich obligacji skarbowych.</p>
                </div>
            </div>
            </div>
        </div>

        <div class="objectives">
            <div class="objectives__container container">
                <h2 class="objectives__title title">Cele & Wizja</h2>
                <div class="objectives__content">
                    <div class="objectives__content-block">
                        <h3 class="objectives__title title">Nasza wizja</h3>
                        <p>Naszą wizją jest bycie nowoczesnym, zaufanym funduszem, który nie tylko pomnaża kapitał inwestorów, ale także wspiera rozwój firm i inicjatyw kształtujących przyszłość.
                           Naszą wizją jest stworzenie funduszu, który łączy inteligentne zarządzanie kapitałem z długofalową odpowiedzialnością wobec inwestorów, partnerów i otoczenia rynkowego.
                            Chcemy być postrzegani jako fundusz, który nie tylko generuje wysokie zwroty, ale także wspiera rozwój innowacji, przedsiębiorczości i zrównoważonego wzrostu.</p>
                    </div>
                    <div class="objectives__content-block">
                        <h3 class="objectives__title title">Nasz cel</h3>
                        <p>Naszą wizją jest bycie nowoczesnym, zaufanym funduszem, który nie tylko pomnaża kapitał inwestorów, ale także wspiera rozwój firm i inicjatyw kształtujących przyszłość.
Naszą wizją jest stworzenie funduszu, który łączy inteligentne zarządzanie kapitałem z długofalową odpowiedzialnością wobec inwestorów, partnerów i otoczenia rynkowego. Chcemy być postrzegani jako fundusz, który nie tylko generuje wysokie zwroty, ale także wspiera rozwój innowacji, przedsiębiorczości i zrównoważonego wzrostu.</p>
                    </div>
                    <div class="objectives__content-block">
                        <h3 class="objectives__title title">Nasze wartości</h3>
                        <p>Działamy w oparciu o wartości, które stanowią fundament naszych decyzji inwestycyjnych i relacji z interesariuszami. Na pierwszym miejscu stawiamy odpowiedzialność – zarówno wobec naszych inwestorów, jak i firm, w które angażujemy kapitał. Kierujemy się zasadami przejrzystości, budując zaufanie poprzez jasną komunikację i pełną zgodność z regulacjami.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="investments">
            <div class="investments__container container">
                <div class="investments__content">
                    <p class="investments__text">Zacznij budować swoją przyszłość finansową z partnerem, który łączy doświadczenie, innowację i odpowiedzialność. Inwestuj mądrze — razem z nami!!</p>
                    <a class="investments__button button" href="inwestycje">Zacnij inwestować!</a>
                </div>
            </div>
        </div>

    </main>


</body>
</html>