<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Twoje konto</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='chart.js') }}"></script>
</head>
<body>
  {% include "header.html" %}


  <main class="customer-panel">
    <div class="customer-panel__container container">
      <div class="customer-panel__title">
        <h1>Witaj <span class="customer-panel__name">{{ session.get('username') }}!!</span></h1>
      </div>
      <div class="customer-panel__information">
        <div class="customer-panel__fields">

          <form class="customer-panel__username">
            <input class=" field" value="{{ session.get('username') }}" type="text" >
            <br>
            <button class="customer-panel__username-button field-button button">Zmień imię</button>
          </form>

          <form class="customer-panel__email">
            <input class="field" value="{{ session.get('email') }}" type="email" >
            <br>
            <button class="customer-panel__email-button field-button button">Zmień maila</button>
          </form>

          <form class="customer-panel__password">
            <input class="field" value="************" type="password" >
            <br>
            <button class="customer-panel__password-button field-button button">Zmień hasło</button>
          </form>
          <div class="customer-panel__text">
            <h4>Informacja konta</h4>
            <p class="customer-panel__article">Tutaj możesz zmienić swoje podstawowe dane. Każda zmiana wymaga potwierdzenia e-mailem.</p>
          </div>

          <form action="{{ url_for('logout') }}" method="get">
            <button class="customer-panel__button field-button button ">Wyjść</button>
          </form>
        </div>
        <div class="customer-panel__inwestments">
          <h2>Historia wartości portfela</h2>
          <canvas class="customer-panel__canvas" id="portfolioChart"></canvas>
          <div class="customer-panel__action">
        <button class="customer-panel__action-button--invest field-button button">Invest</button>
        <button class="customer-panel__action-button--withdraw field-button button">Withdraw</button>
      </div>
      </div>
    </div>



  </main>

    {% include "footer.html" %}

<script>
    async function loadPortfolio(userId) {
  const resp = await fetch(`/api/portfolio/${userId}`);
  const data = await resp.json();
  const ctx = document.getElementById("portfolioChart");

  new Chart(ctx, {
    type: "line",
    data: {
      labels: data.dates,
      datasets: [{
        label: "Стоимость портфеля",
        data: data.values,
        borderWidth: 2,
        fill: false,
        tension: 0.2,
      }]
    },
    options: {
      scales: {
        y: { beginAtZero: false }
      }
    }
  });
}

loadPortfolio(1);
</script>

</body>
</html>