<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Twoje konto</title>
  <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo_1.png') }}" type="image/x-icon">
</head>
<body>
  {% include "header.html" %}


  <main class="customer-panel">
    <div class="customer-panel__container container">
      <div class="customer-panel__title">
        <h1>Witaj <span class="customer-panel__name">{{ session.get('username') }}!!</span></h1>
      </div>
      <div class="customer-panel__information">
        <div class="customer-panel__fields">

          <form class="customer-panel__username" action="{{ url_for('update_username') }}" method="POST">
             {{ username_form.hidden_tag() }}
             {{ username_form.username(class="field", value=session.get('username')) }}
            <br>
             {{ username_form.submit(class="customer-panel__username-button field-button button") }}
          </form>

         <form class="customer-panel__email" action="{{ url_for('update_email') }}" method="POST">
          {{ email_form.hidden_tag() }}
          {{ email_form.email(class="field", value=session.get('email')) }}
          <br>
          {{ email_form.submit(class="customer-panel__email-button field-button button") }}
        </form>


          
          <form class="customer-panel__password">
            <input class="field" value="************" type="password" >
            <br>
            <button class="customer-panel__password-button field-button button">Zmień hasło</button>
          </form>
          <br>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        {% if category == 'success' %}
          <li class="success-messages">{{ message }}</li>
        {% elif category == 'error' %}
          <li class="error-messages">{{ message }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
          <div class="customer-panel__text">
            <h4>Informacja konta</h4>
            <p class="customer-panel__article">Tutaj możesz zmienić swoje podstawowe dane. Każda zmiana wymaga potwierdzenia e-mailem.</p>
          </div>

          <form action="{{ url_for('logout') }}" method="get">
            <button class="customer-panel__button field-button button ">Wyjść</button>
          </form>
        </div>
        <div class="customer-panel__inwestments">
    <h2>Historia wartości portfela</h2>
    
    <div class="balance-info">
        <p>Saldo bieżące: {{ investment.current_balance|round(2) }} zł</p>
        <p>Całkowita wielkość inwestycji: {{ investment.total_invested|round(2) }} zł</p>
        <p>Zysk: {{ (investment.current_balance - investment.total_invested)|round(2) }} zł</p>
    </div>
             <h3 class="transactions-history-title">Historia transakcji</h3>
    <div class="transactions-history">
    <ul>
    {% for t in transactions %}
        <li>{{ t.timestamp }} - {{ t.type }}: {{ t.amount }} zł (saldo: {{ t.balance_after }}) zł</li>
    {% endfor %}
    </ul>
    </div>
    
    
    <div class="customer-panel__action">
        <form action="{{ url_for('invest') }}" method="post">
            <input type="number" name="amount" step="0.01" min="0" placeholder="Ilość pieniędzy" required>
            <button type="submit" class="customer-panel__action-button--invest field-button button">
                Inwestować
            </button>
        </form>
        
        <form action="{{ url_for('withdraw') }}" method="post">
            <input type="number" name="amount" step="0.01" min="0" placeholder="Ilość pieniędzy" required>
            <button type="submit" class="customer-panel__action-button--withdraw field-button button">
              Wycofać
            </button>
        </form>
    </div>
</div>
    </div>
  </main>

    {% include "footer.html" %}


</body>
</html>