<footer class="footer">
  <div class="footer__container container">
    <div class="footer__about">
      <h3 class="footer__title">RamBad Investment Fund</h3>
      <p class="footer__text">
        Zaufany partner w świecie inwestycji. Pomagamy klientom pomnażać ich kapitał
        poprzez analitykę i rozwiązania analityczne.
      </p>
    </div>

    <div class="footer__links">
      <h4 class="footer__subtitle">Nawigacja</h4>
      <ul>
        <li><a href="{{ url_for('index') }}">Główna</a></li>
        <li><a href="{{ url_for('about_us') }}">O nas</a></li>
        <li><a href="">inwestycji</a></li>
        <li><a href="">Kalkulator</a></li>
      </ul>
    </div>

    <div class="footer__contact">
      <h4 class="footer__subtitle">Kontakty</h4>
      <p>Email: <a href="mailto:contact@rambadfund.com">contact@rambadfund.com</a></p>
      <p>Telefon: +48 123 456 789</p>
      <p>Adres: Warszawa, ul. Nowoczesna 10</p>
    </div>

    
  </div>
<div class="footer__bottom">
    <p>&copy; 2025 RamBad Investment Fund. Wszelkie prawa zastrzeżone.</p>
    <p><a href="">Polityka prywatności</a> | <a href="">Warunki użytkowania</a></p>
  </div>
  
</footer>
