    <header class="header">

        <div class="header__logo logo"> <a href="{{ url_for('index') }}"><img class="logo__image" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"> </a></div>
        <div class="header__menu-list">
             <div class="header__list-element"><a class="link" href="{{ url_for('index') }}">Główna</a></div>
             <div class="header__list-element"><a class="link" href="{{ url_for('inwestment')}}">Inwestycji</a></div>
            <div class="header__list-element"><a class="link" href="{{ url_for('calculator') }}">Kalkulator</a></div>

             <div class="header__list-element"><a class="link" href="{{ url_for('about_us') }}">O nas</a></div>
        </div>
        <div class="header__login">
            {% if session.get('user_id') %}
                <p><a class="header__username" href="{{ url_for('customer_panel') }}">| {{ session.get('username') }} |</a></p>
            {% else %}
                <div class="header__login-button"><a class="button" href="{{ url_for('login') }}">Login</a></div>
            {% endif %}
            
        </div>
    </header>

