<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/black_schedule.png') }}" type="image/x-icon">
    <title>RamBad</title>
</head>
<body>
    {% include "header.html" %}
    

    <main>

    <section class="section-1">
        <div class="section-1__container container">
            <div class="section-1__image">
                <img src="{{ url_for('static', filename='images/black_schedule.png') }}" alt="grafik">
            </div>
            <div class="section-1__right-part">
                <div class="section-1__text">
                    <h1>Zwiększ swój kapitał z RamBad Investment Fund</h1>
                    <p>Naszą misją jest bezpieczne i skuteczne pomnażanie kapitału naszych klientów.
                        Dzięki doświadczeniu, analizie rynków i indywidualnemu podejściu pomagamy Ci budować stabilną przyszłość finansową.
                        Wybierz profesjonalizm, zaufanie i nowoczesne rozwiązania inwestycyjne.</p>
                </div>
            
                <div class="section-1__buttons">
                    <a href="lalala.html" class="section-1__button button">Inwestować</a>
                    <a href="{{ url_for('about_us') }}" class="section-1__button button">Więcej informacji</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section-2">
        <div class="section-2__container container">
        
        <div class="section-2__lists">
        <h2>Dlaczego warto inwestować z nami</h2>
        <ul>
            <br>
            <li><h3>Wieloletnie doświadczenie i stabilność</h3><p>Ponad 10 lat na rynku i zaufanie setek klientów w Polsce i za granicą.</p></li>
            <br>
            <li><h3>Gwarancje i bezpieczeństwo</h3><p>Pełna przejrzystość, audytowane instrumenty i prawne gwarancje kapitału.</p></li>
            <br>
            <li><h3>Profesjonalny zespół ekspertów</h3><p>Doświadczeni analitycy i doradcy wspierają Cię na każdym etapie inwestycji.</p></li>
            <br>
            <li><h3>Indywidualne podejście</h3><p>Strategie dopasowane do Twoich celów i poziomu ryzyka.</p></li>
            <br>
            <li><h3>Nowoczesne technologie</h3><p>AI i analityka danych, które zwiększają skuteczność inwestycji.</p></li>
        </ul>
        </div>

        <div class="section-2__action">
            <img src="{{ url_for('static', filename='images/yellow_schedule.png') }}" alt="image">
        <a href="lalala.html" class="section-2__button button">Oblicz zysk</a>
        </div>        
        </div>
    </section>
    <section class="section-3">
        <div class="section-3__container container">
            <div class="section-3__onas">
                <h2>O nas</h2>
                <br>
                <p>Nasza firma powstała z pasji do finansów i technologii. Od ponad 10 lat pomagamy klientom inwestować bezpiecznie, przejrzyście i z zyskiem.
                Dziś jesteśmy renomowaną marką współpracującą z partnerami w Polsce i Europie, oferującą nowoczesne rozwiązania oparte na danych i zaufaniu.</p>
                <br>
                <a href="{{ url_for('about_us') }}" class="section-3__button button">Więcej informacji</a>
            </div>        
        </div>
    </section>
    </main>
    {% include "footer.html" %}

</body>
</html>