<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo_1.png') }}" type="image/x-icon">
    <title>Inwestycji</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>
<body>
  {% include "header.html" %}
    <main>
        <div class="main-banner">
        <div class="main-banner__container container">
            <div class="kpi">
                <p><strong>Wartość aktywów netto</strong></p>
                <h3>107.70 mln PLN</h3>
                <p>Stan na 02.10.2025</p>
            </div>
            <div class="kpi">
                <p><strong>Wartość na 1 certyfikat</strong></p>
                <h3>311.67 PLN</h3>
                <p>Zmiana dzienna: <span>+0.21%</span></p>
            </div>
            <div class="kpi">
                <p><strong>Dochód (ostatnie 365 dni)</strong></p>
                <h3>+15.83%</h3>
                <p>Benchmark: 60/40</p>
            </div>
            </div>
        </div>
        <div class="main-middle">
            <div class="main-middle__container container">
            <div class="fund-wallet">
                <h2>Portfel funduszu</h2>   
                <p>Za danymi na dziś</p>
                <canvas id="fundWalletChart" width="400" height="400"></canvas>
                <div class="legend-row">
                    <div class="legend-circle" style="background: #f0c060; margin: 15px 0;"></div>
                    <p style="margin: 15px 5px;">Akcje S&P 500 (USA) - 60%</p>
                </div>
                <div class="legend-row">
                    <div class="legend-circle" style="background: #9f7030;"></div>
                    <p style="margin: 0 5px;">Obligacje Bund (EU) - 40%</p>
                </div>
            </div>

            <div class="risks">             
                <section class="panel panel__risk">
    <div class="panel__risk">
  <h2 class="panel__title">Profil ryzyka funduszu</h2>
<br>
  <div class="panel__risk-level">
    <span>Poziom ryzyka</span>
    <p>Umiarkowany</p>
  </div>
<br>
  <div class="panel__risk-boxs">
    <div class="panel__risk_box-1 panel__risk-box">1</div>
    <div class="panel__risk_box-2 panel__risk-box">2</div>
    <div class="panel__risk_box-3 panel__risk-box box-active">3</div>
    <div class="panel__risk_box-4 panel__risk-box">4</div>
    <div class="panel__risk_box-5 panel__risk-box">5</div>
    <div class="panel__risk_box-6 panel__risk-box">6</div>
    <div class="panel__risk_box-7 panel__risk-box">7</div>
  </div>
</section>
<br>
  <p class="panel__text">
    Wskazany poziom ryzyka nie musi pozostawać niezmienny i może ulegać zmianom w czasie.<br>
Zwracamy również uwagę inwestorów na fakt, że najniższy poziom nie stanowi inwestycji całkowicie pozbawionej ryzyka.
  </p>
</div>
               
            </div>

            </div>

        </div>


<div id="chart-container" class="shedule">
    <div class="shedule__container container">
    <h1 class="shedule__title">Aktualne inwestycje</h1>
    <div class="shedule__prices">
                <div class="shedule__price-box">
                    <span class="shedule__symbol">🇺🇸 S&P 500:</span>
                    <span id="usaValue" class="shedule__value">—</span>
                </div>

            <div class="shedule__price-box">
                <span class="shedule__symbol">🇪🇺 STOXX 50 (UE):</span>
                <span id="euValue" class="shedule__value">—</span>
            </div>
    </div>
    <canvas id="investmentChart"></canvas>
    </div>
</div>



        </div>

    </main>
    
    {% include "footer.html" %}
    <script src="{{ url_for('static', filename='js/invest.js') }}"></script>
</body>
</html>







