<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo_1.png') }}" type="image/x-icon">
</head>
<body>
  {% include "header.html" %}
<div class="container">
  <div class="auth">
  <h2 class="auth__title">Logowanie</h2>
  <form class="auth__form_1" method="POST" action="/login">
    {{ form.hidden_tag() }}
    <div class="auth__field">
      <label class="auth__label" for="email">Email:</label>
      {{ form.email(class="auth__input", id=form.email.id) }}
    </div>

    <div class="auth__field">
      <label class="auth__label" for="password">Hasło:</label>
      {{ form.password(class="auth__input", id=form.password.id) }}
    </div>

    <div class="auth__login-actions">
      <a class="button auth__button" href="{{ url_for('register') }}"> 
        Utwórz konto
      </a>
      {{ form.submit(class="button auth__button") }}
    </div>
  </form>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        {% if category == 'success' %}
          <li class="success-messages">{{ message }}</li>
        {% elif category == 'error' %}
          <li class="error-messages">{{ message }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>
</div>


{% include "footer.html" %}
</body>
</html>

