<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  {% include "header.html" %}
<div class="container">
  <div class="auth">
  <h2 class="auth__title">Logowanie</h2>

  <form class="auth__form_1" method="POST" action="/login">
    

    <div class="auth__field">
      <label class="auth__label" for="email">Email:</label>
      <input class="auth__input" name="email" type="email" id="email">
    </div>

    <div class="auth__field">
      <label class="auth__label" for="password">Hasło:</label>
      <input class="auth__input" name="password" type="password" id="password">
    </div>

    <div class="auth__login-actions">
      <a class="button auth__button" href="{{ url_for('register') }}"> 
        Utwórz konto
      </a>
      <button class="button auth__button" type="submit">
        Zalogować się
      </button>
    </div>
  </form>
</div>
</div>


{% include "footer.html" %}
</body>
</html>

