<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="logowanie.css">
</head>
<body>
    <div class="auth_1">
  <h2 class="auth__title">Logowanie</h2>

  <form class="auth__form_1">
    

    <div class="auth__field">
      <label class="auth__label" for="email">Email:</label>
      <input class="auth__input" type="email" id="email">
    </div>

    <div class="auth__field">
      <label class="auth__label" for="password">Hasło:</label>
      <input class="auth__input" type="password" id="password">
    </div>

    <div class="auth__login-actions">
      <a class="button auth__button" href="rejestracja.html"> 
        Utwórz konto
      </a>
      <button class="button auth__button" type="button">
        Zalogować się
      </button>
    </div>
  </form>
</div>
</body>
</html>