<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Twoje konto</title>
  <link rel="stylesheet" href="panel_klienta.css">
</head>
<body>
  <main class="account">
    <h2 class="account__title">Twoje konto</h2>
    
    <section class="account__info">
      <dl class="account__list">
        
        

        
        <dt class="account__label">Imie:</dt>
        <dd class="account__value">Nikoloz Tsiklashvili</dd>

        <dt class="account__label">Email:</dt>
        <dd class="account__value">nikaushlepok@gmail.com</dd>

        <dt class="account__label">data regestracji:</dt>
        <dd class="account__value">12.03.2024</dd>

        <dt class="account__label">Suma inwestycij:</dt>
        <dd class="account__value">200$</dd>

        <dt class="account__label">Status:</dt>
        <dd class="account__value">Aktywny</dd>
      </dl>
    </section>

    <a href="index.html" class="account__button">Przejdz na stronę główną</a>
  </main>
</body>
</html>