<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Rejestracja</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo_1.png') }}" type="image/x-icon">

</head>
<body>
  {% include "header.html" %}

  <div class="container">
    <div class="auth">
      <h2 class="auth__title">Rejestracja</h2>

      <form class="auth__form_2" id="signup" method="POST" action="/register">
        {{ form.hidden_tag() }}

        <div class="auth__field">
          <label class="auth__label" for="{{ form.email.id }}">Email:</label>
          {{ form.email(class="auth__input", id=form.email.id) }}
        </div>

        <div class="auth__field">
          <label class="auth__label" for="{{ form.username.id }}">Imię:</label>
          {{ form.username(class="auth__input", id=form.username.id) }}
        </div>

        <div class="auth__field">
          <label class="auth__label" for="{{form.password.id}}">Hasło:</label>
          {{ form.password(class="auth__input", id="password") }}
        </div>

        <div class="auth__field">
          <label class="auth__label" for="password_again">Powtórz hasło:</label>
          <input class="auth__input" type="password" id="password_again" required>
        </div>

        <div id="msg" class="auth__msg"></div>

        <div class="auth__registration-actions">
          {{ form.submit(class="button auth__button") }}
        </div>
      </form>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="error-messages">
      {% for category, message in messages %}
        {% if category == 'error' %}
          <li class="error">{{ message }}</li>
        {% endif %}
      {% endfor %}
    </ul>
{% endif %}
{% endwith %}
    </div>
  </div>
  {% include "footer.html" %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

</div>
</div>

<!-- <style>
.flash {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.flash.success { background-color: #c7ffd8; color: #065f46; }
.flash.error { background-color: #ffd6d6; color: #b91c1c; }
</style> -->